<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <div class="form-inline">
      <input [(ngModel)]="searches" name="searches" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" >
    </div>
  </nav>
  <p>P.S.: To see liked photos write'<3' to Search</p>
  <div class="container">
    
      <div class="row">
        <!--<cdk-virtual-scroll-view-point itemSize="50"></cdk-virtual-scroll-view-point>-->
        <div class="col-md-4 pt-5" *ngFor="let data of dataSet | filter:searches">
          <div class="card" >
              <a href="{{data.url}}" style=" text-align: center;"><img class="card-img-top" src="{{data.download_url}}" alt="Card image cap"></a>
              <div class="card-body">
                  <h5 class="card-title">{{data.author}}</h5>
                  <p class="card-text">{{text}}</p>
                  <div id="{{data.id}}"(click)="saveToLocal(data.id)" class="btn btn-success float-right">Like</div>
              </div>
          </div>
        </div>
      </div>
      <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1000"
      (scrolled)="onScroll()">
      </div>


  </div>